.page__content {
  padding: 10px 10px 40px;

  &::after {
    display: table;
    clear: both;

    content: "";
  }
}

@media only screen and (min-width : 768px), only screen and (min-device-width : 768px) {
  .page__content {
    margin-top: 30px;
    padding: 0 15px 70px;
  }
}

@media only screen and (min-width : 1280px), only screen and (min-device-width : 1280px) {
  .page__content {
    position: relative;

    padding: 0 30px;
  }
}
