.image--small {
  display: inline-block;

  width: calc(50% - 20px);
  margin: 10px;

  vertical-align: top;
}

@media only screen and (min-width : 768px), only screen and (min-device-width : 768px) {
  .image--small {
    width: calc(33% - 14px);
    margin: 0 0 30px 15px;
  }
}

@media only screen and (min-width : 1280px), only screen and (min-device-width : 1280px) {
  .image--small {
    width: calc(25% - 20px);
    margin: 0 10px 20px;
  }
}
