.page-header {
  width: 100%;
  height: 40px;

  background-color: #7ca5d9;
}

@media only screen and (min-width : 768px), only screen and (min-device-width : 768px) {
  .page-header {
    height: 60px;
  }
}
