.page-content__images-small {
  font-size: 0;

  margin: 0 -10px;
}

@media only screen and (min-width : 768px), only screen and (min-device-width : 768px) {
  .page-content__images-small {
    float: right;

    width: calc(100% - 200px);
    margin: 0 0 0 -15px;
  }
}

@media only screen and (min-width : 1280px), only screen and (min-device-width : 1280px) {
  .page-content__images-small {
    float: none;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-right: 250px;
    padding-left: 290px;
  }
}
