.image--big {
  display: block;

  width: 100%;
  margin: 20px 0;
}

@media only screen and (min-width : 1280px), only screen and (min-device-width : 1280px) {
  .image--big {
    margin: 0;

    &:first-of-type {
      float: left;

      width: 270px;
    }

    &:last-of-type {
      float: right;

      width: 230px;
    }
  }
}
