.page-content__images-big {
  margin: -10px 0;
}

@media only screen and (min-width : 768px), only screen and (min-device-width : 768px) {
  .page-content__images-big {
    width: 200px;
    margin: 0;
  }
}

@media only screen and (min-width : 1280px), only screen and (min-device-width : 1280px) {
  .page-content__images-big {
    position: absolute;
    top: 0;
    right: 30px;
    left: 30px;

    width: auto;
  }
}
